.search-result-section {
  font-family:  Arial, Helvetica, sans-serif;
}

.result-container {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1em;
}

.no-results {
  margin-top: 1em;
  text-align: center;
}

.initial-results {
  margin-top: 1em;
  text-align: center;
  font-style: italic;
}

.search-term {
  font-weight: bold;
}

.result-name {
  font-weight: bold;
}

.alternate-title-toggle {
  font-weight: normal;
  font-size: small;
}

.alternate-titles {
  font-weight: normal;
  font-size: small;
}

.result-year {
  font-style: italic;
}