.search-result-section {
  font-family:  Arial, Helvetica, sans-serif;
}

.result-container {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 40% auto 40%;
  gap: 1em;
}

.no-results {
  margin-top: 1em;
  text-align: center;
}

.initial-results {
  margin-top: 1em;
  text-align: center;
  font-style: italic;
}

.search-term {
  font-weight: bold;
}

.expansion-toggle {
  font-weight: normal;
  font-size: small;
}

.result-primary {
  font-weight: bold;
}

.secondary-results {
  font-weight: normal;
  font-size: small;
}

.additional-main {
  font-weight: normal;
  font-size: small;
}

.result-year {
  font-style: italic;
}